[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "svyROC"]
	path = svyROC
	url = https://github.com/cran/svyROC
[submodule "svyVarSel"]
	path = svyVarSel
	url = https://github.com/aiparragirre/svyvarsel
